    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        margin: 0;
        color: #0c7b93;
        text-align: center;
        font-size: 15px;
        font-family: 'Varela Round', sans-serif;
        background-color: #0c7b93;
        background: url(https://i.postimg.cc/DzdxVjGX/workstation-1.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    h1 {
        font-size: 3.625rem;
        font-family: 'sf burlington script', cursive;
        letter-spacing: 4px;
        line-height: 1.5;
        margin: 20px auto 10px auto;
    }
    
    h2 {
        color: #E55523;
    }
    
    p {
        color: #cfd6d6;
        line-height: 1.5;
    }
    
    .p-container {
        padding: 10px;
    }
    /****** navbar ******/
    
    nav {
        width: 100%;
        padding-bottom: 2.5%;
        z-index: 2;
        position: fixed;
        display: flex;
        justify-content: flex-end;
        justify-content: space-around;
        background-color: #3F3E51;
    }
    
    .navbar {
        display: flex;
        justify-content: flex-end;
    }
    
    nav ul {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: flex-end;
    }
    
    nav li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 40px;
        padding-right: 20px;
        position: relative;
    }
    
    nav a {
        color: #0c7b93;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17.5px;
        font-weight: bold;
    }
    
    nav a:hover {
        color: #E55523;
    }
    
    nav a::before {
        content: '';
        display: block;
        height: 5px;
        width: 0%;
        border: #0c7b93;
        border-radius: 20px;
        background-color: #E55523;
        position: absolute;
        top: 0;
        transition: 250ms;
    }
    
    nav a:hover::before {
        width: 100%;
    }
    /* intro-div */
    
    img {
        border: 3.5px solid #cfd6d6;
        border-radius: 200px 200px 200px 200px;
    }
    
    .introduction {
        width: 20%;
        height: 850px;
        margin: 0 75px 0px 25px;
        padding: 111px 25px;
        text-align: center;
        box-shadow: 0 21px 14px -1px #918f8f93;
        background-color: #3F3E51;
        position: relative;
    }
    
    .line-description1 .line-description2 {
        font-size: 1.5rem;
    }
    
    .wd {
        color: #E55523;
    }
    
    .box-heading {
        padding: 1em;
    }
    
    .description-intro1 {
        text-align: left;
        position: relative;
        padding-left: -15px;
        padding-right: 15px;
    }
    
    .description-intro2 {
        float: right;
        margin: 10px 5px 10px 0;
    }
    
    .descriptor {
        color: #0c7b93;
    }
    
    .intro-btn {
        color: #E55523;
        font-weight: bold;
        background-color: #cfd6d6;
        text-align: center;
        text-transform: capitalize;
        font-family: 'Varela Round', sans-serif;
        font-size: 1.2em;
        line-height: 1.25em;
        margin-top: 50px;
        padding: 6px 20px;
        border: 1px solid #E55523;
        cursor: pointer;
        text-decoration: none;
        transition-duration: 0.4s;
    }
    
    .intro-btn:hover {
        color: #cfd6d6;
        background-color: #E55523;
    }
    /**** about me ****/
    
    .about-container {
        width: 30%;
        /* height: 250px; */
        margin: 0 0 50px 100%;
        padding: 50px;
        float: right;
        text-align: left;
        background-color: #0c7b93;
        box-shadow: -15px 21px 14px -1px #918f8f93;
    }
    /**** services ****/
    
    .service-banner {
        margin: -300px 50px 60px 65px;
        width: 5%;
        /* height: 200px; */
        float: left;
        display: flex;
        justify-content: start;
        align-self: flex-end;
    }
    
    .services-text {
        color: #8e959793;
        margin: -50px 0 0 0;
        text-align: center;
        text-transform: capitalize;
        position: relative;
        font-size: 9.5rem;
        font-weight: 300;
        writing-mode: vertical-lr;
    }
    
    .outer-mid {
        width: 100%;
        height: 1000px;
        margin: -50px 0 0 0;
        padding: 40px 40px 0 -20px;
        background-color: #d4e7ec;
    }
    
    .mid-container {
        float: right;
        width: 20%;
        height: 300px;
        margin: 20px;
        padding: 10px 10px 0 10px;
        text-align: left;
        background-color: #3F3E51;
        box-shadow: -15px 21px 14px -1px #918f8f93;
    }
    
    .mid-text {
        float: left;
        text-align: left;
        margin: 20px 30px 50px 30px;
        padding: 20px 0 50px 0;
    }
    /**** testimonials ****/
    /**  
    .test-outer-container {
        width: 100%;
        height: 700px;
        margin-top: 0;
        padding: 40px 40px 25px -20px;
        background-color: #e2c9c0;
    }
    
    .test-group1 {
        width: 200px;
        height: 350px;
        margin-right: 20px;
        float: right;
        background-color: #636636;
    }
    **/
    /**** portfolio ****/
    /**** footer ****/
    
    footer {
        margin: -20px 0 0 0;
        width: 100%;
        height: 400px;
        background-image: url(/assets/notebook-1841548_1920.jpeg);
        /* background-image: url(https://i.postimg.cc/SxJ1Vj8Y/notebook-1841548-1920.jpg);*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .copyright {
        color: #cfd6d6;
        font-size: 1rem;
        padding: 170px 0;
        text-align: center;
    }
    
    .footer-link {
        color: #0c7b93;
        /*font-family: 'Montserrat', sans-serif;*/
        font-family: 'Varela Round', sans-serif;
        margin: 30px 20px;
        padding-right: 40px;
        font-size: 2.2rem;
        float: right;
        text-decoration: none;
    }
    
    a:hover {
        color: #E55523;
    }
    
    @media screen and (max-width: 960px) {
        .nav-container a {
            float: none;
            width: 100%;
        }
        .mid-container {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 760px) {
        .nav-container a {
            float: none;
            width: 100%;
        }
        .mid-container {
            width: 50%;
        }
    }